/* for dropdown menu color one2many */
.ui-menu .ui-state-focus, .ui-menu .ui-state-active  {
  background: #660000 !important;
  border: 1px solid #660000 !important;
  background-color: #f6f6f6;
}

/* for highlight the text */
::selection {
    color: #fff;
    background: #dda0dd;
    text-shadow: 1px 1px 2px #b040b0;
}
::-moz-selection {
    color: #fff;
    background: #660000;
    text-shadow: 1px 1px 2px #b040b0;
}
.openerp .oe_leftbar .oe_footer {
  background: #f0eeee;
  text-align: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  visibility: hidden
  } */

/* Added space between buttons date:23-10-2017 */
.btn-grid
{
    margin: -2px 0;
}

.btn-grid > .btn
{
    margin: 2px 2px;
}
