.search_from_date {
    width: 150px;
    font-size: 12px;
    color: #000000;
    margin-top: 1px;
    border-bottom:1px solid #A1A7CE!important;
    border-radius:10px solid #A1A7CE!important;
}

.search_to_date {
    width: 150px;
    font-size: 12px;
    color: #000000;
    margin-top: 1px;
    border-bottom:1px solid #A1A7CE!important;
    border-radius:10px solid #A1A7CE!important;
}

.field_date_selection {
	width: 300px;
    background: #00D827;
    font-size: 12px;
    color: #000000;
    margin-top: 0px;
    border-bottom:1px solid #A1A7CE!important;
    border-radius:10px!important;
}

.clear_filter, .record_search{
    width: 60px;
    background: #2A8152;
    font-size: 14px;
    color: #000000;
    margin-top: 0px;
    border-bottom:1px solid #A1A7CE!important;
    border-radius:10px solid #A1A7CE!important;
}

.clear_filter:hover {
    background-color: #000000;
    color: #2A8152;;
}

.record_search:hover {
    background-color: #000000;
    color: #2A8152;;
}
