#customer_name {
    color: cornflowerblue;
    font-size: 25px;
}

.customer_table td:first-child {
    border-right: 0px solid #c8c8d3;
}

.customer_table td {
    border-top: 0px solid !important;
}

#employer_detail {
    color: cornflowerblue;
}

.customer_details_table td:first-child {
    font-size: 13px;
    border-right: 2px solid #ccc;
}

.customer_details_table td {
    border-top: 0px solid !important;
}

.table_font_style td {
    font-size: 13px;
}

.acccount-nav-tabs {
    margin-top: 15px;
}

#account_content_one > div {
    padding: 5px;
}

.active_account_tab {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
}

.account-details {
    cursor: pointer;
}