@mm_backend_clean_chyred:  #660000;
@mm_backend_clean_jaune: #0670a4;
@mm_backend_clean_vert: #74910c;
@mm_backend_clean_chydgr: #ff4d4d;
@mm_backend_clean_chypry: #0099cc;
@gris_fonce: #535353;
@chyred_fonce: #1a0000;
@chydrg_fonce: #b30000;
@chypry_fonce: #006666;
@chyred_ouvert: #ffe6e6;
@gris_ouvert: #e4e4e4;
@gris_chywht: #ffffff;
@gris_chyblu: #555555;
@chyred_ouvlgt: #ffb3b3;
@jaune_gradient_from: lighten(@mm_backend_clean_jaune, 35%);
/* Mixin */
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}
.breadcrumb > .active {
    color: @mm_backend_clean_chyred;
}
.navbar-inverse {
    #oe_main_menu_placeholder {
        padding-top: 5px;
        padding-bottom: 5px;
    }      
    background-color: @mm_backend_clean_chyred;
    border-color: darken(@mm_backend_clean_chyred, 10%);
    .navbar-nav {
        .dropdown-menu {
            li {
                a {
                    color: @mm_backend_clean_chyred;
                }
            }
        }
        li {
            a {
                color: white;
            }
        }
        .active {
            a,
            a:hover,
            a:focus {
                color: white;
                background-color: darken(@mm_backend_clean_chyred, 10%);
            }
        }
    }
}
/*  tab css modified */
.nav-tabs li{
    a:hover{        
        border-top-color: @chyred_ouvlgt;
        border-right-color: @chyred_ouvlgt;
        border-left-color: @chyred_ouvlgt;
        border-bottom-color: @gris_chywht; 
    }
}
.nav-tabs > li > a {     
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: @chyred_ouvlgt;
    background-color: @chyred_ouvlgt;   
    border-radius: 8px 8px 0 0;
    color: @mm_backend_clean_chyred;
    cursor: default;
}
.nav-tabs > li.active > a {    
    background-color: @gris_chywht;    
    border-top-color: @chyred_ouvlgt;
    border-right-color: @chyred_ouvlgt;
    border-left-color: @chyred_ouvlgt;
    border-bottom-color: @gris_chywht;
    border-radius: 8px 8px 0 0;
    color: @mm_backend_clean_chyred;
    cursor: default;
}
.nav-tabs > li.active > a:hover {
    color: @gris_chyblu;
    background-color: @gris_chywht;
    border-top-color: @chyred_ouvlgt;
    border-right-color: @chyred_ouvlgt;
    border-left-color: @chyred_ouvlgt;
    border-bottom-color: @gris_chywht;
    border-radius: 8px 8px 0 0;      
    cursor: default;
} 
.nav-tabs > li.active > a:focus {
    color: @mm_backend_clean_chyred;                       
    cursor: default; 
}
.nav-tabs {        
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: @chyred_ouvlgt;                            
}
.tab-content > {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: @chyred_ouvlgt;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: @chyred_ouvlgt;
    border-radius: 0 0 8px 8px; 
    padding: 10px;    
}
/*  --end tab css modified */
.openerp {
    .btn-primary {
        background-color: @mm_backend_clean_vert;
        border-color: darken(@mm_backend_clean_vert, 10%);        
    }
    .btn-chyred {
        background-color: @mm_backend_clean_chyred;
        border-color: darken(@mm_backend_clean_chyred, 10%);
        color: white;
        cursor: pointer;
                &:hover {
                    background-color: @chyred_fonce;
                    border-color: darken(@chyred_fonce, 10%);
                } 
    }
    .btn-chydgr {
        background-color: @mm_backend_clean_chydgr;
        border-color: darken(@mm_backend_clean_chydgr, 10%);
        color: white;
        cursor: pointer;
                &:hover {
                    background-color: @chydrg_fonce;
                    border-color: darken(@chydrg_fonce, 10%);
                } 
    }
    .btn-chypry {
        background-color: @mm_backend_clean_chypry;
        border-color: darken(@mm_backend_clean_chypry, 10%);
        color: white;
        cursor: pointer;
                &:hover {
                    background-color: @chypry_fonce;
                    border-color: darken(@chypry_fonce, 10%);
                } 
    }     
    .label-default {
        background-color: @mm_backend_clean_jaune;
    }
    .oe_tag {
        background: @jaune_gradient_from;
    }
    .oe_horizontal_separator {
        color: @mm_backend_clean_chyred;
    }
    .oe_form_editable {
        .oe_list_editable {
            .oe_list_content {
                td.oe_required {
                    background-color: #fff !important;
                    border: 1px solid #ece6e6;
                    outline-color: #ece6e6;
                    outline-style: solid;
                    outline-width: 1px;
                }
            }
        }
    }
    .oe_form {
        .oe_form_required {
            input:not([disabled]):not([readonly]),
            select:not([disabled]):not([readonly]),
            textarea:not([disabled]):not([readonly]) {
                background-color: #fff !important;
                border: 1px solid #C92121;
                outline-color: red;
                outline-style: solid;
                outline-width: 1px;
            }
        }
    }
    .oe_application {
        .oe_searchview {
            .oe_searchview_facets {
                .oe_searchview_facet {
                    .oe_facet_values {
                        background: @jaune_gradient_from;
                    }
                }
            }
        }
        .oe_list_content {
            tbody {
                tr {
                    border: none;
                }
                tr:nth-child(2n+1) {
                    .gradient(top, @chyred_ouvert, @chyred_ouvert);
                }
            }
            thead {
                background-color: @chyred_fonce;
                color: white;
                border: none;
                th {
                    border: none;
                }
            }
        }
    }
    .oe_leftbar {
        background-color: white;
        .oe_secondary_menus_container {
            &::-webkit-scrollbar {
                width: 8px;
                background-color: lighten(@mm_backend_clean_chyred, 90%);
            }
            &::-webkit-scrollbar-thumb {
                background-color: @mm_backend_clean_chyred;
            }
            .nav-pills {
                li {
                    &.active {
                        a {
                            background-color: @mm_backend_clean_chyred;
                        }
                    }
                }
            }
            .oe_secondary_menu_section {
                .oe_menu_leaf {
                    color: @mm_backend_clean_chyred;
                    &:hover {
                        background-color: @gris_ouvert;
                    }                                        
                }
                color: @mm_backend_clean_chyred;
                border-bottom: 1px solid @gris_ouvert;
                padding: 6px;

                cursor: pointer;
                &:hover {
                    background-color: @gris_ouvert;
                }                
            }
        }
    }
}
