.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu {
    position: static;
    border-left: none;
    border-bottom: 1px solid #282828;
    width: 21px;
    height: 21px;
    background: #818181;
}
.openerp .secondary_menu.oe_folded .oe_toggle_secondary_menu span.oe_menu_fold {
    display: none;
}
.openerp .secondary_menu.oe_unfolded .oe_toggle_secondary_menu span.oe_menu_unfold {
    display: none;
}
.oe_toggle_secondary_menu {
    cursor: pointer;
    color: gray;
    text-shadow: 0 1px 0 #333;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    float: right;
}
.active_menu {
    position: absolute;
    z-index: 100;
    border: 2px solid #585858;
    /* border-color: rgba(88, 88, 88, .5); */
    border-radius: 4px;
    min-width: 200px;
    /*background-color: red; */
    background: #FFFFFF; 
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FFEFD5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FFEFD5));
    color:white;
    border-bottom: 2px solid #660000;
    border-color: #660000;
}
.alwaysHide{
    display:none !important;
}
.alwaysShow{
    display:display-cell !important;
}
.set_width {
    width:0px !important;
}

.oe_secondary_menu{
    overflow-y:auto;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > li > a:active {
background-color:#fff
}
.navbar-inverse .navbar-nav li a:focus{
color:#660000
}
.navbar-inverse .navbar-nav li a:hover{
color:#660000;
background:#fff;
}
.navbar-inverse .navbar-nav li a:active{
color:#660000
}

.openerp button.oe_highlight_trans {
  background-color: #780000;
  color:white;
}

.openerp button.oe_highlight_trans:hover {
  background-color: #5E0000;  
  color:white; 
}

.openerp button.oe_highlight_search {
  background-color: #008CBA;
  color:white;
}

.openerp button.oe_highlight_search:hover {
  background-color: #3093C7;  
  color:white; 
}

.openerp button.oe_highlight_cancel {
  background-color: #6F6F6F;
  color:white;
}

.openerp button.oe_highlight_cancel:hover {
  background-color: #707070;
  color:white;
}

.openerp button.oe_highlight_activate:hover {
  background-color: rgb(16,171,82);
  color: white;   
}

.openerp button.oe_highlight_activate {
  color:white;
  background-color: rgb(17,187,89);
}

.openerp button.oe_highlight_reject {
  background-color: #d03b30;
  color:white;
}

.openerp button.oe_highlight_reject:hover {
  background-color: #a73128;
  color:white;
}

.openerp button.oe_highlight_signup:hover {
  background-color: #565555;
  color:white;
}

.openerp button.oe_highlight_signup {
  background-color: #6F6F6F ;
  color:white;
}

.openerp .oe_form_sheet_width {
  min-width: 60%;
  max-width: 98%;
  margin: 0 auto;
}

.openerp .oe_form_sheet_height {
  min-height: 60%;
  max-height: 98%;
  margin: 0 auto;
}

.openerp .oe_form input[type="text"],.openerp .oe_form textarea , .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select,.openerp .oe_form textarea[disabled],.openerp .oe_form input[readonly], .openerp .oe_form select[readonly] {
    border: 1.5px solid #C3C3C3;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.02), 0 6px 20px 0 rgba(0,0,0,0.09);
    background-color: #f6f6f6 ;
}

/* for dropdown menu color one2many */
.ui-menu .ui-state-focus, .ui-menu .ui-state-active  {
  background: #660000 !important;
  border: 1px solid #660000 !important;
  background-color: #f6f6f6;
}

/* for highlight the text */
::selection {
    color: #fff;
    background: #dda0dd;
    text-shadow: 1px 1px 2px #b040b0;
}
::-moz-selection {
    color: #fff;
    background: #660000;
    text-shadow: 1px 1px 2px #b040b0;
}
.openerp .oe_leftbar .oe_footer {
  background: #f0eeee;
  text-align: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  visibility: hidden
  }
.my_class .oe_list_content td.oe_number {
  text-align: left !important;
  white-space: nowrap !important;
  max-width: 100px;
}
.bs-wizard {margin-top: 40px;}
.menu_css {
background-color:#fff;
span {
    color:#660000;
}}
.sanction_source [data-id="source"]{width: 8%;}
.sanction_nation [data-id="nationality"]{width:10%}
.sanction_name [data-id="name"]{width:30%}
.sanction_date [data-id="date_of_birth"]{width:20%}
.sanction_cur .oe_list_content td.oe_number {text-align:left !important;}
